@tailwind base;

/* usefull for html2canvas display text in card's corners correctly */
/* https://github.com/niklasvh/html2canvas/issues/2775#issuecomment-1204988157*/
@layer base {
    img {
        @apply inline-block;
    }
}

@tailwind components;
@tailwind utilities;